@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "open sans", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

header {
  height: 490px;
  background-image: url(/labs/lab003a/applepie/images/apple-pie.jpg);
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  color:white;
  Display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-weight:400;
  font-size: 4rem;
}

main img {
  width: 30%;
  display: block;
  margin: 0 auto;
   }

main {
  padding:3rem;
}

main section {
  padding: 1 rem 0;
}

#recipe-introduction p {
  font-size: 1.25rem;
  font-weight:  300;
  margin:  0  0  2rem 0;
  text-align:  justify;
}

#ingredients {
  margin: 3rem  1rem  1rem  1rem;
}
#ingredients  ul{
  list-style-type:"-";
  margin:  1rem  0 1.5rem  1rem;
}

#directions {
  margin: 3rem 1rem 1rem  1rem;
}
#directions ol {
  counter-reset: list;
}

#directions ol > li {
  list-style:none;
}

#directions  ol >  li:before  {
  content:counter(list)   ") ";
  counter-increment:list;
}

#directions li  {
  font-size:1rem;
  font-weight: 400;
  margin:0  0 0.2rem 1rem;
}
